<!DOCTYPE html>
<html>
    <head>
        <title>
            My first blog
        </title>
    </head>
    
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
        <h1>A heading</h1>
        <h2>A heading</h2>
        <h3>A heading</h3>
        <h4>A heading</h4>
        <h5>A heading</h5>
        <h6>A heading</h6>
        <a href="https://www.hpe.com">HPE</a>
        <ul><li>first</li>
            <li>first</li>
            <li>first</li></ul>
            <footer><nav><a href="/">Home</a></nav></footer>
        
    </body>
</html>